@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --primary-color: #2B4061;
        --secondary-color: #8C1D70;

        --color-text-base: #FFFFFF;
        --color-text-muted: #EDA6C2;

    }
}
